<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <p3> admin </p3>
        <h2>{{ title }}</h2>
        <p>This is you special admin console where you can access all users</p>
      </v-col>
    </v-row>
    <v-row>
      <v-btn x-large @click="retreiveUsers">Get all users!</v-btn>
    </v-row>
    <v-row>
      <div id="listwrapper" v-if="this.$store.state.allusers.length > 0">
        <p>You currently have got {{this.$store.state.allusers.length}} users:</p>
        <ul>
          <li v-for="item in this.$store.state.allusers" :key="item.id">
            username: {{ item.username }} | firstname: {{ item.firstName }} | lastname: {{ item.lastName }} 
          </li>
        </ul>
      </div>
    </v-row>
  </v-container>
</template>

<script>
import { store } from "../store/store";
  export default {
    name: 'Admin',

    data: () => ({
        title: "Admin console"
    }),
    methods: {
      retreiveUsers() {
      store.dispatch('retrieveUser')
      }
    }
  }
</script>


<style scoped>
#listwrapper {
  padding: 20px 10px;
  height: 200px;
  margin-top: 50px;
}

ul {
  list-style: none;
}

</style>