<template>
  <div>
    <input v-model="username" />
    <input type="password" v-model="password" />
    <v-btn @click="login(username, password)"> Submit </v-btn>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { store } from '../store/store';

export default Vue.extend({
  computed: {},
  methods: {
    login: async function (username, password) {
      store.dispatch('login',{username,password});
    },
  },
  data: function () {
    return {
      username: '',
      password: '',
    };
  },
});
</script>

<style></style>
